
<app-sidebar></app-sidebar>
<app-navbar></app-navbar>
<app-endbar></app-endbar>

<div class="content"> 
    <div class="grid">

       
        <div class="card" style="margin-right: 50px;">
    
            <div class="container">
              <h4 style="text-align: center;color: orangered;font-family: Verdana, Geneva, Tahoma, sans-serif;"><b>Code To Compile</b></h4> 
              <textarea class="form-control" style="width: 100%;height:100%;min-height: 350px;"name="input" [(ngModel)]="inputCode" placeholder="Enter The Code To Compile Here"></textarea>
            </div>
        </div>

        <div class="card">
    
            <div class="container">
              <h4 style="text-align: center; color: orangered;font-family: Verdana, Geneva, Tahoma, sans-serif;"><b>Result</b></h4> 
              <textarea class="form-control" style="width: 100%;height:100%;min-height: 350px;"name="output" [(ngModel)]="outputMessage" placeholder="This Will Show Compilation Result"></textarea>
            </div>
        </div>
    </div>
    
        <button class="btn btn-danger" style="margin-left: 37%; margin-top: 25px; width: 200px; background-color:  orangered;font-family: Verdana, Geneva, Tahoma, sans-serif;" (click)="compile()"> Compile</button>
   
    
</div>

