
.content{
 
    margin-left: 10%;
    background-color: black;
    color: white;
    height: 100%;
    min-height: 100vh;
}
.grid{
    display: grid;
    grid-template-columns: 41% 41%;
    padding-top: 50px;
    margin-left: 50px;
    grid-gap: 25px;
    
}
.card {
    
    background-color: #191C24;
    width: 100%;
    min-height: 400px;
    margin-right: 50px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }
  .form-control{
    background-color: black;
    border: 0px;
    border-radius: 0%;
   
    color: white;
  }